/* BOLD FONT SF  */
@font-face {
  font-family: sf-pro-bold;
  src: url("/SF-Pro-Display-Bold.ttf");
}
.font-sf-bold {
  font-family: sf-pro-bold;
}

/* SEMIBOLD FONT SF  */
@font-face {
  font-family: sf-pro-semibold;
  src: url("/sf-pro-text-semibold.ttf");
}
.font-sf-semibold {
  font-family: sf-pro-semibold;
}

/* MEDIUM FONT SF  */
@font-face {
  font-family: sf-pro-medium;
  src: url("/SF-Pro-Display-Medium.ttf");
}
.font-sf-medium {
  font-family: sf-pro-medium;
}

/* REGULAR FONT SF  */
@font-face {
  font-family: sf-pro-regular;
  src: url("/SF-Pro-Display-Regular.ttf");
}
.font-sf-regular {
  font-family: sf-pro-regular;
}

/* LIGHT FONT SF  */
@font-face {
  font-family: sf-pro-light;
  src: url("/SF-Pro-Display-Light.ttf");
}
.font-sf-light {
  font-family: sf-pro-light;
}

/* THIN FONT SF  */
@font-face {
  font-family: sf-pro-thin;
  src: url("/SF-Pro-Display-Thin.ttf");
}
.font-sf-thin {
  font-family: sf-pro-thin;
}
