/* BOLD FONT SF  */
@font-face {
  font-family: sf-pro-bold;
  src: url("/SF-Pro-Display-Bold.ttf");
}
.font-sf-bold {
  font-family: sf-pro-bold;
}

/* SEMIBOLD FONT SF  */
@font-face {
  font-family: sf-pro-semibold;
  src: url("/sf-pro-text-semibold.ttf");
}
.font-sf-semibold {
  font-family: sf-pro-semibold;
}

/* MEDIUM FONT SF  */
@font-face {
  font-family: sf-pro-medium;
  src: url("/SF-Pro-Display-Medium.ttf");
}
.font-sf-medium {
  font-family: sf-pro-medium;
}

/* REGULAR FONT SF  */
@font-face {
  font-family: sf-pro-regular;
  src: url("/SF-Pro-Display-Regular.ttf");
}
.font-sf-regular {
  font-family: sf-pro-regular;
}

/* LIGHT FONT SF  */
@font-face {
  font-family: sf-pro-light;
  src: url("/SF-Pro-Display-Light.ttf");
}
.font-sf-light {
  font-family: sf-pro-light;
}

/* THIN FONT SF  */
@font-face {
  font-family: sf-pro-thin;
  src: url("/SF-Pro-Display-Thin.ttf");
}
.font-sf-thin {
  font-family: sf-pro-thin;
}
* {
  box-sizing: border-box; /* Ensures padding and borders are included in the width */
}
img {
  max-width: 100%;
  height: auto; /* Maintains aspect ratio */
}
body {
  overflow-x: hidden; /* Hides horizontal scrollbar */
}

.tooltip {
  position: relative;
  left: 2%;
  background-color: black;

  /* top: 100px; */
  /* border-radius: 5px; */
  /* background-color: #f2f2f2; */
  /* margin-right: 10px; */
  /* display: inline-block; */
  /* -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; */
}

.tooltip-image {
  width: 25px;
  height: 12px;
  position: absolute;
  margin-top: -15px;
  /* top: -80%; */
  color: #999999;

  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}

.tooltip-text {
  visibility: hidden;
  width: 600px;
  border: 1px solid #002626;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  left: 90%;
  top: 990%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 1280px) {
  .tooltip {
    top: -62%;
  }
}

@media only screen and (min-width: 1400px) {
  .tooltip {
    top: -65%;
  }
}
